.color{
  nav-color: rgba(255, 255, 255, 0.6);  /* The default color of the main navmenu links */
  color: #ffffff; /* Applied to main navmenu links when they are hovered over or active */
  background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #40524d; /* Used for navigation links of the dropdown items in the navigation menu. */
  -dropdown-hover-color: #2f5d50; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

body{
    margin: 0;
    background-color: whitesmoke;
    font-family: sans-serif;
}

.header{
    background-color:#2f5d50;
    display: flex;
    justify-content: space-between;
    color: #ffffff;
}

.head-contact{
    display: flex;
    padding: 0 40px;
    gap:20px;
}

.nav-bar{
    display: flex;
    background-color:#40524d;
    justify-content: space-between;
}

.logo h1{
    color: white;
    margin-left: 10%;
}

.nav-links{
    display: flex;
    list-style-type: none;
    gap: 40px;
    margin-top: 2.5%;
    margin-right: 27%;
}

.nav-links a{
    text-decoration: none;
    color: whitesmoke;
}

.nav-links a:hover{
    color: white;
}

@media(max-width:767.9px){
    .nav-links{
        display:none;
}
}

@media(min-width:768px){
    .logo h1{
    color: white;
    margin-left: 25%;
}
}

/* ========== HERO =============*/
.hero img{
    z-index:-1;
    position: absolute;
    width: 100%;
    object-fit: cover;
    margin-top: -6%;
    height: 135%;
}

.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 146.5%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero-contents ,.hero-form{
    z-index: 10;
    position: relative;
    padding: 20px;
}

.nav-bar, .header{
     z-index: 10;
    position: relative;
}

.hero-contents h1{
   font-size: 40px;
   font-weight: bold;
   color: white;
}

.hero-contents p{
    color: whitesmoke;
    font-size: 18px;
}

.booking{
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 20px;
    gap: 20px;
}
.booking input, .booking select, .booking textarea{
    padding: 15px;
    border-radius: 10px;
    border: 1px solid lightgrey;
}

.booking button{
   background-color:#2f5d50;
   color: white;
   font-size: 18px;
   width: 50%;
   margin-left: 20%;
   padding: 15px;
   border: none;
   border-radius: 20px;
}

.booking h2{
    text-align: center;
}

.hero-cta{
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 10%;
}

.hero-cta a{
    text-decoration: none;
    border-radius: 20px;
    padding: 15px;
}

.hr-1 a{
    background-color: #2f5d50;
    color: white;
    border: 2px solid #2f5d50;
}

.hr-2 a{
    border: 2px solid white;
    color: white;
}

@media(min-width:768px) {
    .hero{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}

   .hero img{
    height: 92%;
   }
    
   .hero-contents{
    padding: 40px;
   }
   .booking{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    flex-wrap: wrap;
    margin-top: 10%;
   }

    .booking textarea{
        max-height: 50px;
        min-height: 50px;
        min-width: 260px;
        max-width: 260px;
    }

    .booking button{
       font-size: 18px;
       width: 100%;
       margin-left: 50%;
       padding: 15px;
}

    .hero-cta{
        margin-top: 7%;
    }

    .overlay{
        height: 101%;
    }
}
/* ========== ABOUT ========= */
.about{
    margin-top: 20%;
    padding: 10px;
}
.abt-image{
    padding: 10px;
}
.abt-image img {
   width: 70%;
   height: 25%;
   border-radius: 20px;
   margin-left: 20%;
   position: absolute;
}

.abt-img img{
    margin-left: 5%;
    position: relative;
    margin-top: 35%;
     height: 20%;
}

.abt-cont{
    padding: 20px;
    text-align: center;
}

.abt-cont-desc{
    color:#2f5d50;
    font-size: 20px;
}

.abt-cont p{
    color:#40524d;
}

.abt-cont-numb{
   margin-top: 15%;
}

.abt-cont-item h2{
    color: #2f5d50;
    font-size: 33px;
}

.abt-cont-item p{
    margin-top: -5%;
}

.abt-cta{
    margin-top: 10%;
}

.abt-cta a{
    text-decoration: none;
    padding: 15px 100px;
    border-radius: 10px;
    width: 100%;
}

.abt-cta-1 a{
    color: white;
    background-color: #2f5d50;
}

.abt-cta-2{
    margin-top: 13%;
}
.abt-cta-2 a{
    color:#2f5d50;
    background-color: transparent;
    border: 2px solid #2f5d50;
}

@media(min-width:768px){
    .about{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-top: 5%;
    }
    .abt-image{
        margin-top: 10%;
    }
    .abt-image img {
        margin-left: 0;
        width: 45%;
        height: 45%;
    }

    .abt-img img{
        margin-left: 5%;
        position: relative;
        margin-top: 35%;
        height: 35%;
}

    .abt-cta{
        display: flex;
        gap: 20px;
    }

    .abt-cta a{
       padding: 15px 80px;
       border-radius: 10px;
       width: 100%;
}   
    .abt-cta-2{
    margin-top: 0%;
}

    .abt-cont-numb{
        display: flex;
        gap: 20px;
        margin-left: 10%;
        margin-top: -3%;
    }
}
/* ============= ROOMS ===============*/
.rooms{
    padding: 20px;
}

.room{
    margin-top: 5%;
}

.rooms h1{
    text-align: center;
}
.room img{
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 20%;
}

.room-desc{
    padding: 10px;
    border: 1px solid lightgrey;
    border-radius: 0 0 20px 20px;
}

.room-desc-icons{
    display: flex;
    gap: 20px;
    margin-top: -5%;
}

.room-desc p{
    color: #40524d;
}

.room-desc span{
    color:#2f5d50;
    font-size: 27px;
}

.book{
    margin-top: -2%;
    display: flex;
    justify-content: space-between;
}

.book a{
    color: white;
    padding: 10px 30px;
    text-align: center;
    height: 20%;
    border-radius: 10px;
    background-color: #2f5d50;
    text-decoration: none;
}

.rooms-container-2{
    text-align: center;
}

.rooms-container-2 .book{
    text-align: center;
}

@media(min-width:768px){
    .rooms-container, .rooms-container-2, .events-co , .offers-container{
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 20px;
    }

    .room{
        display: grid;
        grid-column: span 2;
    }

    .room img{
        height: auto;
    }
}

/* ========== EVENTS ==========*/
.events{
    padding: 20px;
}

.events h1{
    text-align: center;
}

.events h2{
   color: #2f5d50;
}
.events p{
    color: #40524d;
}
.events .room-desc-icons{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-top: -6%;
}

.events .room a , .offers .room a{
    color: #2f5d50;
    text-decoration: none;
    font-weight: bold;
}

.events .room-desc{
    padding: 20px 20px;
    margin-top: -7%;
}

.events .room img{
    height: 20%;
}

@media(min-width:768px){
   .events .room img{
    height: 80%;
}

   .events .room-desc{
    margin-top: -14%;
}
}

/* ===========  OFFERS ==========*/
.offers h1{
   text-align: center;
}

.offers .room{
    padding: 20px;
}

.offers .room-desc{
    border: 2px solid #2f5d50;
}

.offers .room img{
    border:2px solid ;
    border-bottom: none;
}

.offers .room img{
    height: 25%;
    width: 99%;
}

.offers .offers-price{
    text-decoration: line-through;
    color:#40524d;
    font-size: 16px;
}

.offers .price{
    color:#2f5d50;
    font-size: 25px;
    margin-left: 2%;
}

.offers .room-desc a {
    text-decoration: none;
    background-color: #2f5d50;
    color: white;
    border-radius: 10px;
    padding: 15px 100px;
}

.offers .room-desc .bookk, .offers .room-desc .bookkk{
    margin-top: 10%;
    width: 100%;
    margin-left: 10%;
}

.offers .room-desc .bookkk a{
     padding: 15px 80px;
}

@media(min-width:768px){
    .offers .room img{
        height: auto;
    }
}
/* ========== LOCATION-BRIF ============ */
.location-brief{
    padding: 40px;
}

.location-head{
    text-align: center;
}

.location-contents{
    padding: 10px;
     padding: 40px;
    margin: 6%;
    border-radius: 20px;
    background-color: #2f5d50;
    color: white;
}

.location{
    background-color: #40524d;
    padding: 5px 20px;
    border-radius: 10px;
    margin-top: 5%;
}

.location-1{
    background-color:white;
    color:#2f5d50;
    margin-top: 5%;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.location-1 a{
    text-decoration: none;
    margin-top: 20%;
    color: #2f5d50;
}

@media(min-width:768px){
    .location-brief{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
/* =========== GALLERY ==========*/
.galery-container{
    display: flex;
    flex-direction: row;
}
.galery-container .photos{
    display: flex;
    flex-direction: row;
    width: 100%;
    border-radius: 10px;
    gap: 20px;
    padding: 10px;
    
}

.photos img{
    width: 100%;
    border-radius: 20px;
}

.galery-brief a{
    background-color: #2f5d50;
    color: white;
    padding: 5%;
    border-radius: 20px;
    text-decoration: none;
}

.gallerylink{
    margin-left: 20%;
    margin-top: 10%;
}

.gallerylink a{
     background-color: #2f5d50;
    color: white;
    padding: 5%;
    border-radius: 20px;
    text-decoration: none;
}

@media(min-width:768px){
    .photos img{
        height: 150%;
        border-radius: 20px;
    }

    .gallerylink{
        margin-top: 12%;
        margin-left: 40%;
    }

    .gallerylink a{
        padding: 20px;
    }
}

/* ================ FOOTER ================= */
.footer {
    background-color: #2f5d50;
    margin-top: 10%;
}

.footer .logo{
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: whitesmoke;
}

.footer .logo h1{
    margin-left: 0px;
}

.footer .logo p{
    margin-top: -10px;
}

.QuickLinks{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.QuickLinks , .contact-info{
    display: flex;
    flex-direction:column;
}

.QuickLinks a:hover{
    color: white;
}

.contact-info a:hover{
    color: white;
}

.QuickLinks h4{
    font-size: 25px;
    color: white;
}

.QuickLinks a{
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    margin-top: -2%;
}

.copyright{
    text-align: center;
    color: whitesmoke;
    background-color: #2f5d50;
}

@media(min-width:768px){
    .footer {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        justify-content: center;
    }

    .copyright{
    margin-top: -2.7%;
    padding: 10px;
}

    .footer .QuickLinks{
        margin-left: 20%;
    }
}
/* ////// ============ ROOMS ============= \\\\\\ */
.rooms-select{
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 20px;
}

.rooms-head span{
   color:#40524d;
}

.rooms-head h1{
    text-align: left;
    font-size: 25px;
}

.rooms-head a{
    text-decoration: none;
    color: #2f5d50;
}

.rooms-con{
    padding: 20px;
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.rooms-con select{
    padding: 15px;
    border-radius: 10px;
}

.room-section img{
    height: 30%;
}

.load-room{
    border-radius: 20px;
    padding: 10px;
    margin-left: 20%;
    margin-top: 10%;
}

.load-room a{
    background-color: transparent;
    color:#2f5d50;
    border: 2px solid #2f5d50;
    text-decoration: none;
    padding: 15px;
    border-radius: 20px;
}

@media(min-width:768px){
    .rooms-con{
    padding: 20px 40px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

   .rooms-con select{
    padding: 15px 50px;
}

   .room-section .rooms-container{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    gap: 30px;
    padding: 20px;
   }

   .rooms-section .room{
      display: grid;
      grid-column: span 4;
     width: 100%;
   }

   .rooms-section .room img{
    width: 100%;
   }
}
